@page "/nasa-mars-rover-images"

@using Blazor.DataDemo.Models
@using MudBlazor
@inject HttpClient Http

<h3>Nasa Mars Rover Images</h3>
<p>Select a date</p>
<MudDatePicker Label="Date Format" @bind-Date="_date" DateFormat="yyyy-MM-dd" PickerVariant="PickerVariant.Static" TextChanged="DateChanged" />
<br />
<br />
<br />
@if (_images == null || _images.Count == 0)
{
    <h3>No images found for the selected date.</h3>
}
else
{
    <h3>Mars rover images for date: @_date?.ToString("dd-MM-yyyy") </h3>
    <MudGrid>
        @foreach (var image in _images)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardMedia Image="@image" Class="rounded-lg" />
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowImage(image)" Target="_blank">
                            View Image
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <MudPaper Class="pa-8" Style="height: 300px; position: relative;">
        <MudOverlay Visible="_visible" OnClick="CloseImage">
            <img src="@_selectedImageUrl" class="img-fluid" style="width: auto; height: 100%;" />
        </MudOverlay>
    </MudPaper>
}   

@code {
    private DateTime? _date = new DateTime(2025, 6, 2);
    private List<string> _images = new List<string>();
    private bool _visible = false;
    private string _selectedImageUrl = string.Empty;

    private void ShowImage(string imageUrl)
    {
        _selectedImageUrl = imageUrl;
        _visible = true;
    }

    private void CloseImage()
    {
        _visible = false;
    }

    async Task DateChanged(string value)
    {
        _images.Clear();
        if (DateTime.TryParse(value, out var parsedDate))
        {
            _date = parsedDate;
        }
        else
        {
            _date = null; // Reset if parsing fails
        }

        string URL = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date="
                        + _date?.ToString("yyyy-MM-dd") + "&api_key=gdNk1u0FchNuvRoqkT0bG5NZxU66YwMvLGOFwr8z";

        var response = await Http.GetAsync(URL);
        var data = await response.Content.ReadFromJsonAsync(typeof(NasaMarsRoverImagesResponse)) as NasaMarsRoverImagesResponse;

        if (data == null || data.Photos == null)
        {
            return; // Handle the case where no data is returned
        }

        foreach (var imageUrl in data.Photos)
        {
            _images.Add(imageUrl.ImgSrc);
        }
    }

}
